.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1egpgfe {
  display: none;
}

.MuiStack-root.watermark.css-1705j0v {
  display: none;
}

.MuiAvatar-img.css-1hy9t21 {
  content: url("/public/image.png"); /* Path to your custom avatar image */
}

img[src="http://localhost:8000/logo?theme=dark"]
{
  display: none;
}

#open-sidebar-button {
  display: none;
}
